@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Sarpanch:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}
html {
    font-size: 62.5%; /* 62.5% de 16px = 10px */
}
body {
  background-color: #1F1D2B;              
  line-height: 1.6;           
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25rem;
    background-color: #2D2A3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    color: #8F87F8;
}

.header__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.header__logo {
    margin-bottom: 1rem;
}

.header__titles {
    text-align: center;
}

.header__title {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
}

.header__subtitle {
    font-size: 1.4rem;
    opacity: 0.7;
}

.header__title,
.header__subtitle {
  cursor: default;
  user-select: none; 
}

.header__nav {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    flex: 1;
    justify-content: center;
    margin-top: 60px;
}

.header__link {
    color: #8F87F8;
    text-decoration: none;
    font-size: 1.6rem;
    text-align: center;
}

.header__link-bottom {
    color: #8F87F8;
    text-decoration: none;
    font-size: 1.6rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

/* MAIN-TOP */

.main-top {
  width: 165rem;
  padding: 2rem 3rem;
  position: fixed;
  background-color: #1F1D2B;
  color: #8F87F8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-left: 25rem; 
}

.main-top__title {
  font-size: 3rem;
  font-weight: 700;
  user-select: none;
}

.main-top__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.main-top__filters {
  display: flex;
  gap: 1rem;
  background-color: #8F87F8;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
}

.main-top__button {
  background-color: #2D2A3E;
  border: none;
  border-radius: 0.8rem;
  padding: 0.6rem 1.4rem;
  color: #8F87F8;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.main-top__button:hover,
.main-top__button:focus {
  background-color: #15131d;
  outline: none;
}

.main-top__date-picker {
  background-color: #8F87F8;
  padding: 0.6rem 1.4rem;
  border-radius: 0.8rem;
  max-width: 20rem;
  padding-left: 3rem;
}

.main-top__input {
  width: 100%;
  background-color: #8F87F8;
  border: none;
  color: #2D2A3E;
  font-size: 1.6rem;
  outline: none;
  user-select: text;
  appearance: none;
}

.main-top__input::placeholder {
  color: #1F1D2B;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #8F87F8 inset !important;
  -webkit-text-fill-color: #2D2A3E !important;
}

/* SECTIONS */

.main__view {
  padding: 2rem 3rem;
  margin-left: 25rem;
  color: #8F87F8;
}

.home__title, .energy-data__title, .hydrogen__title, .weather__title, .settings__title {
  margin-top: 15rem;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
}

.home__text, .energy-data__text, .hydrogen__text, .weather__text, .settings__text {
  font-size: 2rem;
  text-align: left;
}

/* HOME */

.home__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 2rem;
}

.home__box {
  background-color: #2D2A3E; 
  border: 2px solid #8F87F8; 
  border-radius: 10px; 
  height: 50rem;
}

/* ENERGY-DATA */

.energy-data__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.energy-data__box {
  background-color: #2D2A3E;
  border: 2px solid #8F87F8;
  border-radius: 10px;
  height: 50rem;
  margin-top: 3rem;
}
